<%- include("partials/header") %>
<%- include("partials/topContent") %>
<div class="row">
    <div class="col-lg-1 sidebar-main pr-0">
        <%- include("partials/sidebar") %>
    </div>
    <div class="col-lg-11 px-0 mr-auto">
        <%- include("partials/Teams") %>
        <%- include("partials/archivedTeams") %>
    </div>
</div>
<%- include("partials/footer") %>